@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Edu+TAS+Beginner&display=swap');

* {
    max-width: 1200px;
    margin: 0 auto;
}


h1, h2, h3 {
    font-family: 'Edu TAS Beginner', serif;
    color: white;
    font-size: 40px;
}

article p {
    font-family: 'Barlow', serif;
    color: white;
    font-size: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    text-align: center;
    background-color: rgba(8, 26, 48, 0.788);

}

article {
    width: 75%;
    margin: 0 auto;
    padding: 50px;
    background-image: linear-gradient(#0f2644c9, #1b0f44c9);
    height: 165px;
    margin-top: 30px;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -100;
}

#awes {
    margin-top: 10px;
}

.hero article img {
    float: right;
    width: 300px;
    padding: 0px 0px 20px 20px;
}

.navBar {
    background-color: #1c3144;
    overflow: hidden;

}

.navBar a {
    color: #78C5D7;
    padding: 19px 24px;
    font-size: 20px;
    text-decoration: none;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }

.navBar a:hover {
    background-color: #FCE172;
    color: #1c3144;
}

.topnav a.active {
    background-color: #78C5D7;
    color: white;
}

.sociallinks a {
    text-decoration: none;
}

.nTitle {
    padding-top: 225px;
    padding-bottom: 25px;
    margin-top: 15%;
}

.hist {
    color:rgba(8, 26, 48, 0.788);
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}   

footer {
    display: flex;
}

figure img {
    width: 220px;
    height: 150px;
}

figcaption {
    text-align: center;
    font: italic smaller sans-serif;
    padding: 3px;
}

.adventure {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hist {
    margin-right: 25px;
}

#anothimg {
    width: 250px;
}

.trial {
    display: flex;
}

button {
    margin: 1rem;
    background-color: #1c3144;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .70rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #2e2e2e;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0,1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

label, input, button, select, textarea {
    font-family: 'Barlow Condensed';
}

label {
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}


